
body {
  background-color: darkgreen;
}

#board {
  width: 1200px;
  height: 550px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#pointCounter1 { /* left player point counter */
  background-color: teal;
  width: 100px;
  height: 100px;
  position: absolute;
 /*  left: 100px;   Uncomment if you want to set a "starting" position */
 /* top: 100px;    Uncomment if you want to set a "starting" position */
}
#pointCounter2 { /* right player point counter*/
    background-color: teal;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 1100px;
}
#player1 {    /*    player1/left player       */ 
    background-color: whitesmoke;
    width: 25px;
    height: 120px;
    position: absolute;
    left: 10px;
    top: 225px;
    border-radius: 10px;
}
#player2 {  /* player2/right player */
    background-color: whitesmoke;
    width: 25px;
    height: 120px;
    position: absolute;
    left: 1170px;
    top: 225px;
    border-radius: 10px;
}
#ball {     /* ball that the players block */
    background-color: whitesmoke;
    width: 30px;
    height:30px;
    border-radius: 30px;
    position: absolute;
    left: 587.5px;
    top: 255px;
}
#midpoint { /* middle of map */
    background-color: teal;
    width: 5px;
    height: 550px;
    position: absolute;
    left: 600px;
}
